@charset "UTF-8";

$color-initial: #fff !default;
$color-primary: #103FEA !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

@import "~normalize.css";
@import '~milligram-scss/src/milligram.scss';

@import "Sidebar";
@import "Footer";

.container {
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: $color-initial;
}

body {
  color: $color-secondary;
  font-family: 'Cardo', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .01em;
  line-height: 1.6em;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: -.1 .5rem;
  font-family: 'Playfair Display', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.content {
  margin: 0 5rem;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  color: #191919;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;

  &:after {
    content: '';
    height: 1px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background: #bfbfbf;
  }
}

article {
  details {
    summary {
      font-weight: 500;
      display: inline list-item;
    }
  }
}

nav {
  ul {
    list-style: none;
  }
}

.social {
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
}

figure {
  display: block;
  width: 100%;
  height: auto;

  img {
    margin-bottom: 0;
  }
}

figcaption {
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

figure.float-left,
figure.float-right {
  max-width: 310px;
  padding: 0 1.625rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center {
  text-align: center;
}
