@charset "UTF-8";

$color-initial: #fff !default;
$color-primary: #103FEA !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

@import '~milligram-scss/src/milligram.scss';

@import "Sidebar";
@import "Footer";

.container {
  margin-top: 5rem;
  background-color: $color-initial;
}

article {
  details {
    summary {
      font-weight: 500;
      display: inline list-item;
    }
  }
}

nav {
  a {
    margin: 0 0.25rem;
  }

  a.is-current {
    border-bottom: #103FEA solid 0.1rem;
  }
}

figure {
  display: block;
  width: 100%;
  height: auto;

  img {
    margin-bottom: 0;
  }
}

figcaption {
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

figure.float-left,
figure.float-right {
  max-width: 310px;
  padding: 0 1.625rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
